In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# LOAD DATA AND CLEAN

In [2]:
# Data Source: https://www.kaggle.com/nathanlauga/nba-games/version/8?select=games.csv

In [3]:
# Cargamos los datos: leemos el csv y obtenemos un dataframe
df_nba_games = pd.read_csv('/home/dsc/repos/master-kschool/TFM/games.csv')
df_nba_games

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,2021-11-17,22100213,Final,1610612766,1610612764,2021,1610612766,97.0,0.438,0.500,...,30.0,59.0,1610612764,87.0,0.367,0.813,0.190,23.0,48.0,1
1,2021-11-17,22100214,Final,1610612765,1610612754,2021,1610612765,97.0,0.425,0.750,...,16.0,42.0,1610612754,89.0,0.418,0.737,0.243,14.0,43.0,1
2,2021-11-17,22100215,Final,1610612737,1610612738,2021,1610612737,110.0,0.506,0.833,...,28.0,40.0,1610612738,99.0,0.440,0.824,0.268,24.0,42.0,1
3,2021-11-17,22100216,Final,1610612751,1610612739,2021,1610612751,109.0,0.458,0.840,...,29.0,47.0,1610612739,99.0,0.393,0.857,0.250,20.0,50.0,1
4,2021-11-17,22100217,Final,1610612748,1610612740,2021,1610612748,113.0,0.483,0.824,...,29.0,39.0,1610612740,98.0,0.440,0.786,0.286,18.0,38.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25019,2014-10-06,11400007,Final,1610612737,1610612740,2014,1610612737,93.0,0.419,0.821,...,24.0,50.0,1610612740,87.0,0.366,0.643,0.375,17.0,43.0,1
25020,2014-10-06,11400004,Final,1610612741,1610612764,2014,1610612741,81.0,0.338,0.719,...,18.0,40.0,1610612764,85.0,0.411,0.636,0.267,17.0,47.0,0
25021,2014-10-06,11400005,Final,1610612747,1610612743,2014,1610612747,98.0,0.448,0.682,...,29.0,45.0,1610612743,95.0,0.387,0.659,0.500,19.0,43.0,1
25022,2014-10-05,11400002,Final,1610612761,1610612758,2014,1610612761,99.0,0.440,0.771,...,21.0,30.0,1610612758,94.0,0.469,0.725,0.385,18.0,45.0,1
25023,2014-10-04,11400001,Final,1610612748,1610612740,2014,1610612748,86.0,0.431,0.679,...,18.0,42.0,1610612740,98.0,0.462,0.706,0.438,19.0,42.0,0

In [4]:
# Nos quedamos solo con los valores numericos
df_nba_games_only_numerics = df_nba_games.select_dtypes(include=np.number)
df_nba_games_only_numerics

,GAME_ID,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,22100213,1610612766,1610612764,2021,1610612766,97.0,0.438,0.500,0.313,30.0,59.0,1610612764,87.0,0.367,0.813,0.190,23.0,48.0,1
1,22100214,1610612765,1610612754,2021,1610612765,97.0,0.425,0.750,0.286,16.0,42.0,1610612754,89.0,0.418,0.737,0.243,14.0,43.0,1
2,22100215,1610612737,1610612738,2021,1610612737,110.0,0.506,0.833,0.351,28.0,40.0,1610612738,99.0,0.440,0.824,0.268,24.0,42.0,1
3,22100216,1610612751,1610612739,2021,1610612751,109.0,0.458,0.840,0.375,29.0,47.0,1610612739,99.0,0.393,0.857,0.250,20.0,50.0,1
4,22100217,1610612748,1610612740,2021,1610612748,113.0,0.483,0.824,0.375,29.0,39.0,1610612740,98.0,0.440,0.786,0.286,18.0,38.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25019,11400007,1610612737,1610612740,2014,1610612737,93.0,0.419,0.821,0.421,24.0,50.0,1610612740,87.0,0.366,0.643,0.375,17.0,43.0,1
25020,11400004,1610612741,1610612764,2014,1610612741,81.0,0.338,0.719,0.381,18.0,40.0,1610612764,85.0,0.411,0.636,0.267,17.0,47.0,0
25021,11400005,1610612747,1610612743,2014,1610612747,98.0,0.448,0.682,0.500,29.0,45.0,1610612743,95.0,0.387,0.659,0.500,19.0,43.0,1
25022,11400002,1610612761,1610612758,2014,1610612761,99.0,0.440,0.771,0.333,21.0,30.0,1610612758,94.0,0.469,0.725,0.385,18.0,45.0,1
25023,11400001,1610612748,1610612740,2014,1610612748,86.0,0.431,0.679,0.333,18.0,42.0,1610612740,98.0,0.462,0.706,0.438,19.0,42.0,0

In [5]:
# Comprobamos cuantos huecos en blanco tenemos

In [6]:
# Obtengo las columnas con celdas vacías
columns_with_nan = df_nba_games_only_numerics.columns[df_nba_games_only_numerics.isnull().any()]
print(columns_with_nan)

Index(['PTS_home', 'FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home', 'AST_home',
       'REB_home', 'PTS_away', 'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away',
       'AST_away', 'REB_away'],
      dtype='object')

In [7]:
# Cuantos valores NaN hay para una columna:
for column in columns_with_nan:
    count_nan = df_nba_games_only_numerics[column].isna().sum()
    print ('Column: ' + str(column) + ' has :' + str(count_nan) + ' of NaN')

Column: PTS_home has :99 of NaN
Column: FG_PCT_home has :99 of NaN
Column: FT_PCT_home has :99 of NaN
Column: FG3_PCT_home has :99 of NaN
Column: AST_home has :99 of NaN
Column: REB_home has :99 of NaN
Column: PTS_away has :99 of NaN
Column: FG_PCT_away has :99 of NaN
Column: FT_PCT_away has :99 of NaN
Column: FG3_PCT_away has :99 of NaN
Column: AST_away has :99 of NaN
Column: REB_away has :99 of NaN

In [8]:
# Es decir tenemos 99 Filas sin algun resultado -> vamos a identificar esas filas

In [9]:
# Obtenemos un dataframe fila y cantidad de nan:
df_fila_and_nans = df_nba_games_only_numerics.isnull().sum(axis=1)
df_fila_and_nans

# Creamos una lista vacia donde meteremos las filas que contienen valores nan:
filas_conflictivas = []

# Recorremos el dataframe con un bucle
for i in range(0, 25023):
    if df_fila_and_nans[i] != 0:# si es distinto de cero quiere decir que algun nan tiene
        filas_conflictivas.append(i)# en caso afirmativo añadimos la fila a la lista de "filas conflictivas"
        
filas_conflictivas
#len(filas_conflictivas) -> 99

# Tenemos guardadas en filas_conflictivas las filas con valores nulos
# Hemos comprobado que tenemos 99 filas afectadas, 
# que es lo mismo que obteniamos mirando la cantidad de nulos para cada columna

[17548,
 17549,
 17550,
 17551,
 17552,
 17553,
 17554,
 17555,
 17556,
 17557,
 17558,
 17559,
 17560,
 17561,
 17562,
 17563,
 17564,
 17565,
 17566,
 17567,
 17568,
 17569,
 17570,
 17571,
 17572,
 17573,
 17574,
 17575,
 17576,
 17577,
 17578,
 17579,
 17580,
 17581,
 17582,
 17583,
 17584,
 17585,
 17586,
 17587,
 17588,
 17589,
 17590,
 17591,
 17592,
 17593,
 17594,
 17595,
 17596,
 17597,
 17598,
 17599,
 17600,
 17601,
 17602,
 17603,
 17604,
 17605,
 17606,
 17607,
 17608,
 17609,
 17610,
 17611,
 17612,
 17613,
 17614,
 17615,
 17616,
 17617,
 17618,
 17619,
 17620,
 17621,
 17622,
 17623,
 17624,
 17625,
 17626,
 17627,
 17628,
 17629,
 17630,
 17631,
 17632,
 17633,
 17634,
 17635,
 17636,
 17637,
 17638,
 17639,
 17640,
 17641,
 17642,
 17643,
 17644,
 17651,
 17652]

In [10]:
# Si queremos acceder atraves de la fila, que viene a ser el indice del dataframe
# debemos antes hacer un reset_index
df_nba_games_only_numerics.reset_index(level=0, inplace=True)

In [11]:
df_nba_games_only_numerics

,index,GAME_ID,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,0,22100213,1610612766,1610612764,2021,1610612766,97.0,0.438,0.500,0.313,30.0,59.0,1610612764,87.0,0.367,0.813,0.190,23.0,48.0,1
1,1,22100214,1610612765,1610612754,2021,1610612765,97.0,0.425,0.750,0.286,16.0,42.0,1610612754,89.0,0.418,0.737,0.243,14.0,43.0,1
2,2,22100215,1610612737,1610612738,2021,1610612737,110.0,0.506,0.833,0.351,28.0,40.0,1610612738,99.0,0.440,0.824,0.268,24.0,42.0,1
3,3,22100216,1610612751,1610612739,2021,1610612751,109.0,0.458,0.840,0.375,29.0,47.0,1610612739,99.0,0.393,0.857,0.250,20.0,50.0,1
4,4,22100217,1610612748,1610612740,2021,1610612748,113.0,0.483,0.824,0.375,29.0,39.0,1610612740,98.0,0.440,0.786,0.286,18.0,38.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25019,25019,11400007,1610612737,1610612740,2014,1610612737,93.0,0.419,0.821,0.421,24.0,50.0,1610612740,87.0,0.366,0.643,0.375,17.0,43.0,1
25020,25020,11400004,1610612741,1610612764,2014,1610612741,81.0,0.338,0.719,0.381,18.0,40.0,1610612764,85.0,0.411,0.636,0.267,17.0,47.0,0
25021,25021,11400005,1610612747,1610612743,2014,1610612747,98.0,0.448,0.682,0.500,29.0,45.0,1610612743,95.0,0.387,0.659,0.500,19.0,43.0,1
25022,25022,11400002,1610612761,1610612758,2014,1610612761,99.0,0.440,0.771,0.333,21.0,30.0,1610612758,94.0,0.469,0.725,0.385,18.0,45.0,1
25023,25023,11400001,1610612748,1610612740,2014,1610612748,86.0,0.431,0.679,0.333,18.0,42.0,1610612740,98.0,0.462,0.706,0.438,19.0,42.0,0

In [12]:
df_nba_games_only_numerics.iloc[3]

index              3.000000e+00
GAME_ID            2.210022e+07
HOME_TEAM_ID       1.610613e+09
VISITOR_TEAM_ID    1.610613e+09
SEASON             2.021000e+03
TEAM_ID_home       1.610613e+09
PTS_home           1.090000e+02
FG_PCT_home        4.580000e-01
FT_PCT_home        8.400000e-01
FG3_PCT_home       3.750000e-01
AST_home           2.900000e+01
REB_home           4.700000e+01
TEAM_ID_away       1.610613e+09
PTS_away           9.900000e+01
FG_PCT_away        3.930000e-01
FT_PCT_away        8.570000e-01
FG3_PCT_away       2.500000e-01
AST_away           2.000000e+01
REB_away           5.000000e+01
HOME_TEAM_WINS     1.000000e+00
Name: 3, dtype: float64

In [13]:
# Ahora queremos ver para cada una de las filas conflictivas, que relevancia tienen, para saber como seria mejor
# actuar, si rellenando los huecos(y como seria en ese caso?), o eliminando dichas filas del df, y no usarlas
df_columnas_y_filas_conflictivas = df_nba_games_only_numerics.loc[filas_conflictivas]

In [14]:
df_columnas_y_filas_conflictivas

,index,GAME_ID,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
17548,17548,10300116,1610612753,1610612762,2003,1610612753,NaN,NaN,NaN,NaN,NaN,NaN,1610612762,NaN,NaN,NaN,NaN,NaN,NaN,0
17549,17549,10300108,1610612737,1610612764,2003,1610612737,NaN,NaN,NaN,NaN,NaN,NaN,1610612764,NaN,NaN,NaN,NaN,NaN,NaN,0
17550,17550,10300109,1610612738,1610612751,2003,1610612738,NaN,NaN,NaN,NaN,NaN,NaN,1610612751,NaN,NaN,NaN,NaN,NaN,NaN,0
17551,17551,10300113,1610612759,1610612745,2003,1610612759,NaN,NaN,NaN,NaN,NaN,NaN,1610612745,NaN,NaN,NaN,NaN,NaN,NaN,0
17552,17552,10300112,1610612749,1610612765,2003,1610612749,NaN,NaN,NaN,NaN,NaN,NaN,1610612765,NaN,NaN,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17642,17642,10300019,1610612743,1610612756,2003,1610612743,NaN,NaN,NaN,NaN,NaN,NaN,1610612756,NaN,NaN,NaN,NaN,NaN,NaN,0
17643,17643,10300022,1610612757,1610612758,2003,1610612757,NaN,NaN,NaN,NaN,NaN,NaN,1610612758,NaN,NaN,NaN,NaN,NaN,NaN,0
17644,17644,10300013,1610612759,1610612763,2003,1610612759,NaN,NaN,NaN,NaN,NaN,NaN,1610612763,NaN,NaN,NaN,NaN,NaN,NaN,0
17651,17651,10300015,1610612747,1610612744,2003,1610612747,NaN,NaN,NaN,NaN,NaN,NaN,1610612744,NaN,NaN,NaN,NaN,NaN,NaN,0
17652,17652,10300006,1610612747,1610612744,2003,1610612747,NaN,NaN,NaN,NaN,NaN,NaN,1610612744,NaN,NaN,NaN,NaN,NaN,NaN,0

In [15]:
# Observando el dataframe vemos que nos faltan todos los datos mas importantes para las filas que tienen nans
# viendo el dataframe parece que los partidos afectados son de 2003, vamos a confirmarlo

In [16]:
df_columnas_y_filas_conflictivas.groupby('SEASON').count()

,index,GAME_ID,HOME_TEAM_ID,VISITOR_TEAM_ID,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
SEASON,,,,,,,,,,,,,,,,,,,
2003,99,99,99,99,99,0,0,0,0,0,0,99,0,0,0,0,0,0,99

In [17]:
# Efectivamente son 99 partidos de la temporada 2003, vamos que supone eso para esa temporada
df_nba_games_only_numerics.groupby('SEASON').count()

,index,GAME_ID,HOME_TEAM_ID,VISITOR_TEAM_ID,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
SEASON,,,,,,,,,,,,,,,,,,,
2003,1385,1385,1385,1385,1385,1286,1286,1286,1286,1286,1286,1385,1286,1286,1286,1286,1286,1286,1385
2004,1362,1362,1362,1362,1362,1362,1362,1362,1362,1362,1362,1362,1362,1362,1362,1362,1362,1362,1362
2005,1432,1432,1432,1432,1432,1432,1432,1432,1432,1432,1432,1432,1432,1432,1432,1432,1432,1432,1432
2006,1419,1419,1419,1419,1419,1419,1419,1419,1419,1419,1419,1419,1419,1419,1419,1419,1419,1419,1419
2007,1411,1411,1411,1411,1411,1411,1411,1411,1411,1411,1411,1411,1411,1411,1411,1411,1411,1411,1411
2008,1425,1425,1425,1425,1425,1425,1425,1425,1425,1425,1425,1425,1425,1425,1425,1425,1425,1425,1425
2009,1424,1424,1424,1424,1424,1424,1424,1424,1424,1424,1424,1424,1424,1424,1424,1424,1424,1424,1424
2010,1422,1422,1422,1422,1422,1422,1422,1422,1422,1422,1422,1422,1422,1422,1422,1422,1422,1422,1422
2011,1104,1104,1104,1104,1104,1104,1104,1104,1104,1104,1104,1104,1104,1104,1104,1104,1104,1104,1104
2012,1420,1420,1420,1420,1420,1420,1420,1420,1420,1420,1420,1420,1420,1420,1420,1420,1420,1420,1420
2013,1427,1427,1427,1427,1427,1427,1427,1427,1427,1427,1427,1427,1427,1427,1427,1427,1427,1427,1427
2014,1418,1418,1418,1418,1418,1418,1418,1418,1418,1418,1418,1418,1418,1418,1418,1418,1418,1418,1418
2015,1416,1416,1416,1416,1416,1416,1416,1416,1416,1416,1416,1416,1416,1416,1416,1416,1416,1416,1416
2016,1405,1405,1405,1405,1405,1405,1405,1405,1405,1405,1405,1405,1405,1405,1405,1405,1405,1405,1405
2017,1382,1382,1382,1382,1382,1382,1382,1382,1382,1382,1382,1382,1382,1382,1382,1382,1382,1382,1382
2018,1378,1378,1378,1378,1378,1378,1378,1378,1378,1378,1378,1378,1378,1378,1378,1378,1378,1378,1378
2019,1241,1241,1241,1241,1241,1241,1241,1241,1241,1241,1241,1241,1241,1241,1241,1241,1241,1241,1241
2020,1264,1264,1264,1264,1264,1264,1264,1264,1264,1264,1264,1264,1264,1264,1264,1264,1264,1264,1264
2021,289,289,289,289,289,289,289,289,289,289,289,289,289,289,289,289,289,289,289

In [18]:
# Al agruparlo por temporada hemos visto que la mayoria de temporada tiene entre 1100 y 1400 partidos ->
# sacar temporada con menos partidos y con mas partidos


# acordandome ahora ese minimo de 2011 de 1104 partidos, que es de muchos menos partidos que el resto de temporadas
# ocurrio por el lockout que hizo que los jugadores fueran a la huelga, por lo tanto por ahora
# consideraremos esa temporada como una mas salvo porque se jugaron menos partidos

# pero tambn vemos que la temporada 2021 solo se jugaron 289 partidos, por el covid claro, por lo tanto
# no la tendremos en cuenta

# continuando, los partidos afectados son de la temporada 2003, son 99 partidos, eso supone
# 99/1385 = 0.07148014440433213 -> 7,1% de los partidos, siendo esto asi y no teniendo absolutamente ningun dato
# de las filas afectadas, he decidido eliminar dichas filas del dataframe y no trabajar con ellas

In [19]:
len(df_nba_games)

25024

In [20]:
# Eliminamos las filas conflictivas del dataframe y lo correspondiente a 2021
# las filas confllictivas podemos eliminarlas directamente con dropna(), 
# porque ya hemos comprobado antes a donde pertenecian los nan del dataframe
df_nba_games_without_nan = df_nba_games_only_numerics.dropna()

In [21]:
# Comprobamos
len(df_nba_games) - len(df_nba_games_without_nan)

99

In [22]:
# Perfecto!, justo los 99 partidos que no queremos, ahora vamos a por la temporada 2021
df_nba_clean = df_nba_games_without_nan[df_nba_games_without_nan['SEASON'] != 2021]

In [23]:
# Comprobamos
len(df_nba_games[df_nba_games['SEASON'] == 2021]) == len(df_nba_games_without_nan) - len(df_nba_clean)

True

In [24]:
# YA TENEMOS EL DATAFRAME LIMPIO COMO QUEREMOS