In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# LOAD DATA AND CLEAN

In [2]:
# Data Source: https://www.kaggle.com/nathanlauga/nba-games/version/8?select=games.csv

In [3]:
# Cargamos los datos: leemos el csv y obtenemos un dataframe
df_nba_games = pd.read_csv('/home/dsc/repos/master-kschool/TFM/games.csv')
df_nba_games

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,2021-11-17,22100213,Final,1610612766,1610612764,2021,1610612766,97.0,0.438,0.500,...,30.0,59.0,1610612764,87.0,0.367,0.813,0.190,23.0,48.0,1
1,2021-11-17,22100214,Final,1610612765,1610612754,2021,1610612765,97.0,0.425,0.750,...,16.0,42.0,1610612754,89.0,0.418,0.737,0.243,14.0,43.0,1
2,2021-11-17,22100215,Final,1610612737,1610612738,2021,1610612737,110.0,0.506,0.833,...,28.0,40.0,1610612738,99.0,0.440,0.824,0.268,24.0,42.0,1
3,2021-11-17,22100216,Final,1610612751,1610612739,2021,1610612751,109.0,0.458,0.840,...,29.0,47.0,1610612739,99.0,0.393,0.857,0.250,20.0,50.0,1
4,2021-11-17,22100217,Final,1610612748,1610612740,2021,1610612748,113.0,0.483,0.824,...,29.0,39.0,1610612740,98.0,0.440,0.786,0.286,18.0,38.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25019,2014-10-06,11400007,Final,1610612737,1610612740,2014,1610612737,93.0,0.419,0.821,...,24.0,50.0,1610612740,87.0,0.366,0.643,0.375,17.0,43.0,1
25020,2014-10-06,11400004,Final,1610612741,1610612764,2014,1610612741,81.0,0.338,0.719,...,18.0,40.0,1610612764,85.0,0.411,0.636,0.267,17.0,47.0,0
25021,2014-10-06,11400005,Final,1610612747,1610612743,2014,1610612747,98.0,0.448,0.682,...,29.0,45.0,1610612743,95.0,0.387,0.659,0.500,19.0,43.0,1
25022,2014-10-05,11400002,Final,1610612761,1610612758,2014,1610612761,99.0,0.440,0.771,...,21.0,30.0,1610612758,94.0,0.469,0.725,0.385,18.0,45.0,1
25023,2014-10-04,11400001,Final,1610612748,1610612740,2014,1610612748,86.0,0.431,0.679,...,18.0,42.0,1610612740,98.0,0.462,0.706,0.438,19.0,42.0,0

In [4]:
# Cambiamos el tipo de dato que tiene GAME_DATE_EST
df_nba_games['GAME_DATE_EST'] = pd.to_datetime(df_nba_games['GAME_DATE_EST'], format = "%Y-%m-%d")

In [5]:
# Nos quedamos solo con los valores numericos y con date que lo necesitaremos mas adelante
df_nba_games_only_numerics = df_nba_games.select_dtypes(include=[np.number, np.datetime64])
df_nba_games_only_numerics

,GAME_DATE_EST,GAME_ID,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,2021-11-17,22100213,1610612766,1610612764,2021,1610612766,97.0,0.438,0.500,0.313,30.0,59.0,1610612764,87.0,0.367,0.813,0.190,23.0,48.0,1
1,2021-11-17,22100214,1610612765,1610612754,2021,1610612765,97.0,0.425,0.750,0.286,16.0,42.0,1610612754,89.0,0.418,0.737,0.243,14.0,43.0,1
2,2021-11-17,22100215,1610612737,1610612738,2021,1610612737,110.0,0.506,0.833,0.351,28.0,40.0,1610612738,99.0,0.440,0.824,0.268,24.0,42.0,1
3,2021-11-17,22100216,1610612751,1610612739,2021,1610612751,109.0,0.458,0.840,0.375,29.0,47.0,1610612739,99.0,0.393,0.857,0.250,20.0,50.0,1
4,2021-11-17,22100217,1610612748,1610612740,2021,1610612748,113.0,0.483,0.824,0.375,29.0,39.0,1610612740,98.0,0.440,0.786,0.286,18.0,38.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25019,2014-10-06,11400007,1610612737,1610612740,2014,1610612737,93.0,0.419,0.821,0.421,24.0,50.0,1610612740,87.0,0.366,0.643,0.375,17.0,43.0,1
25020,2014-10-06,11400004,1610612741,1610612764,2014,1610612741,81.0,0.338,0.719,0.381,18.0,40.0,1610612764,85.0,0.411,0.636,0.267,17.0,47.0,0
25021,2014-10-06,11400005,1610612747,1610612743,2014,1610612747,98.0,0.448,0.682,0.500,29.0,45.0,1610612743,95.0,0.387,0.659,0.500,19.0,43.0,1
25022,2014-10-05,11400002,1610612761,1610612758,2014,1610612761,99.0,0.440,0.771,0.333,21.0,30.0,1610612758,94.0,0.469,0.725,0.385,18.0,45.0,1
25023,2014-10-04,11400001,1610612748,1610612740,2014,1610612748,86.0,0.431,0.679,0.333,18.0,42.0,1610612740,98.0,0.462,0.706,0.438,19.0,42.0,0

In [6]:
# Comprobamos cuantos huecos en blanco tenemos

In [7]:
# Obtengo las columnas con celdas vacías
columns_with_nan = df_nba_games_only_numerics.columns[df_nba_games_only_numerics.isnull().any()]
print(columns_with_nan)

Index(['PTS_home', 'FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home', 'AST_home',
       'REB_home', 'PTS_away', 'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away',
       'AST_away', 'REB_away'],
      dtype='object')

In [8]:
# Cuantos valores NaN hay para una columna:
for column in columns_with_nan:
    count_nan = df_nba_games_only_numerics[column].isna().sum()
    print ('Column: ' + str(column) + ' has :' + str(count_nan) + ' of NaN')

Column: PTS_home has :99 of NaN
Column: FG_PCT_home has :99 of NaN
Column: FT_PCT_home has :99 of NaN
Column: FG3_PCT_home has :99 of NaN
Column: AST_home has :99 of NaN
Column: REB_home has :99 of NaN
Column: PTS_away has :99 of NaN
Column: FG_PCT_away has :99 of NaN
Column: FT_PCT_away has :99 of NaN
Column: FG3_PCT_away has :99 of NaN
Column: AST_away has :99 of NaN
Column: REB_away has :99 of NaN

In [9]:
# Es decir tenemos 99 Filas sin algun resultado -> vamos a identificar esas filas

In [10]:
# Obtenemos un dataframe fila y cantidad de nan:
df_fila_and_nans = df_nba_games_only_numerics.isnull().sum(axis=1)
df_fila_and_nans

# Creamos una lista vacia donde meteremos las filas que contienen valores nan:
filas_conflictivas = []

# Recorremos el dataframe con un bucle
for i in range(0, 25023):
    if df_fila_and_nans[i] != 0:# si es distinto de cero quiere decir que algun nan tiene
        filas_conflictivas.append(i)# en caso afirmativo añadimos la fila a la lista de "filas conflictivas"
        
filas_conflictivas
#len(filas_conflictivas) -> 99

# Tenemos guardadas en filas_conflictivas las filas con valores nulos
# Hemos comprobado que tenemos 99 filas afectadas, 
# que es lo mismo que obteniamos mirando la cantidad de nulos para cada columna

[17548,
 17549,
 17550,
 17551,
 17552,
 17553,
 17554,
 17555,
 17556,
 17557,
 17558,
 17559,
 17560,
 17561,
 17562,
 17563,
 17564,
 17565,
 17566,
 17567,
 17568,
 17569,
 17570,
 17571,
 17572,
 17573,
 17574,
 17575,
 17576,
 17577,
 17578,
 17579,
 17580,
 17581,
 17582,
 17583,
 17584,
 17585,
 17586,
 17587,
 17588,
 17589,
 17590,
 17591,
 17592,
 17593,
 17594,
 17595,
 17596,
 17597,
 17598,
 17599,
 17600,
 17601,
 17602,
 17603,
 17604,
 17605,
 17606,
 17607,
 17608,
 17609,
 17610,
 17611,
 17612,
 17613,
 17614,
 17615,
 17616,
 17617,
 17618,
 17619,
 17620,
 17621,
 17622,
 17623,
 17624,
 17625,
 17626,
 17627,
 17628,
 17629,
 17630,
 17631,
 17632,
 17633,
 17634,
 17635,
 17636,
 17637,
 17638,
 17639,
 17640,
 17641,
 17642,
 17643,
 17644,
 17651,
 17652]

In [11]:
# Si queremos acceder atraves de la fila, que viene a ser el indice del dataframe
# debemos antes hacer un reset_index
df_nba_games_only_numerics.reset_index(level=0, inplace=True)

In [12]:
df_nba_games_only_numerics

,index,GAME_DATE_EST,GAME_ID,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,0,2021-11-17,22100213,1610612766,1610612764,2021,1610612766,97.0,0.438,0.500,...,30.0,59.0,1610612764,87.0,0.367,0.813,0.190,23.0,48.0,1
1,1,2021-11-17,22100214,1610612765,1610612754,2021,1610612765,97.0,0.425,0.750,...,16.0,42.0,1610612754,89.0,0.418,0.737,0.243,14.0,43.0,1
2,2,2021-11-17,22100215,1610612737,1610612738,2021,1610612737,110.0,0.506,0.833,...,28.0,40.0,1610612738,99.0,0.440,0.824,0.268,24.0,42.0,1
3,3,2021-11-17,22100216,1610612751,1610612739,2021,1610612751,109.0,0.458,0.840,...,29.0,47.0,1610612739,99.0,0.393,0.857,0.250,20.0,50.0,1
4,4,2021-11-17,22100217,1610612748,1610612740,2021,1610612748,113.0,0.483,0.824,...,29.0,39.0,1610612740,98.0,0.440,0.786,0.286,18.0,38.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25019,25019,2014-10-06,11400007,1610612737,1610612740,2014,1610612737,93.0,0.419,0.821,...,24.0,50.0,1610612740,87.0,0.366,0.643,0.375,17.0,43.0,1
25020,25020,2014-10-06,11400004,1610612741,1610612764,2014,1610612741,81.0,0.338,0.719,...,18.0,40.0,1610612764,85.0,0.411,0.636,0.267,17.0,47.0,0
25021,25021,2014-10-06,11400005,1610612747,1610612743,2014,1610612747,98.0,0.448,0.682,...,29.0,45.0,1610612743,95.0,0.387,0.659,0.500,19.0,43.0,1
25022,25022,2014-10-05,11400002,1610612761,1610612758,2014,1610612761,99.0,0.440,0.771,...,21.0,30.0,1610612758,94.0,0.469,0.725,0.385,18.0,45.0,1
25023,25023,2014-10-04,11400001,1610612748,1610612740,2014,1610612748,86.0,0.431,0.679,...,18.0,42.0,1610612740,98.0,0.462,0.706,0.438,19.0,42.0,0

In [13]:
# Ahora queremos ver para cada una de las filas conflictivas, que relevancia tienen, para saber como seria mejor
# actuar, si rellenando los huecos(y como seria en ese caso?), o eliminando dichas filas del df, y no usarlas
df_columnas_y_filas_conflictivas = df_nba_games_only_numerics.loc[filas_conflictivas]

In [14]:
df_columnas_y_filas_conflictivas

,index,GAME_DATE_EST,GAME_ID,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
17548,17548,2003-10-24,10300116,1610612753,1610612762,2003,1610612753,NaN,NaN,NaN,...,NaN,NaN,1610612762,NaN,NaN,NaN,NaN,NaN,NaN,0
17549,17549,2003-10-24,10300108,1610612737,1610612764,2003,1610612737,NaN,NaN,NaN,...,NaN,NaN,1610612764,NaN,NaN,NaN,NaN,NaN,NaN,0
17550,17550,2003-10-24,10300109,1610612738,1610612751,2003,1610612738,NaN,NaN,NaN,...,NaN,NaN,1610612751,NaN,NaN,NaN,NaN,NaN,NaN,0
17551,17551,2003-10-24,10300113,1610612759,1610612745,2003,1610612759,NaN,NaN,NaN,...,NaN,NaN,1610612745,NaN,NaN,NaN,NaN,NaN,NaN,0
17552,17552,2003-10-24,10300112,1610612749,1610612765,2003,1610612749,NaN,NaN,NaN,...,NaN,NaN,1610612765,NaN,NaN,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17642,17642,2003-10-09,10300019,1610612743,1610612756,2003,1610612743,NaN,NaN,NaN,...,NaN,NaN,1610612756,NaN,NaN,NaN,NaN,NaN,NaN,0
17643,17643,2003-10-09,10300022,1610612757,1610612758,2003,1610612757,NaN,NaN,NaN,...,NaN,NaN,1610612758,NaN,NaN,NaN,NaN,NaN,NaN,0
17644,17644,2003-10-08,10300013,1610612759,1610612763,2003,1610612759,NaN,NaN,NaN,...,NaN,NaN,1610612763,NaN,NaN,NaN,NaN,NaN,NaN,0
17651,17651,2003-10-08,10300015,1610612747,1610612744,2003,1610612747,NaN,NaN,NaN,...,NaN,NaN,1610612744,NaN,NaN,NaN,NaN,NaN,NaN,0
17652,17652,2003-10-07,10300006,1610612747,1610612744,2003,1610612747,NaN,NaN,NaN,...,NaN,NaN,1610612744,NaN,NaN,NaN,NaN,NaN,NaN,0

In [15]:
# Observando el dataframe vemos que nos faltan todos los datos mas importantes para las filas que tienen nans
# viendo el dataframe parece que los partidos afectados son de 2003, vamos a confirmarlo

In [16]:
df_columnas_y_filas_conflictivas.groupby('SEASON').count()

,index,GAME_DATE_EST,GAME_ID,HOME_TEAM_ID,VISITOR_TEAM_ID,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
SEASON,,,,,,,,,,,,,,,,,,,,
2003,99,99,99,99,99,99,0,0,0,0,0,0,99,0,0,0,0,0,0,99

In [17]:
# Efectivamente son 99 partidos de la temporada 2003, vamos a ver que supone eso para esa temporada
df_nba_games_only_numerics.groupby('SEASON').count()

,index,GAME_DATE_EST,GAME_ID,HOME_TEAM_ID,VISITOR_TEAM_ID,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
SEASON,,,,,,,,,,,,,,,,,,,,
2003,1385,1385,1385,1385,1385,1385,1286,1286,1286,1286,1286,1286,1385,1286,1286,1286,1286,1286,1286,1385
2004,1362,1362,1362,1362,1362,1362,1362,1362,1362,1362,1362,1362,1362,1362,1362,1362,1362,1362,1362,1362
2005,1432,1432,1432,1432,1432,1432,1432,1432,1432,1432,1432,1432,1432,1432,1432,1432,1432,1432,1432,1432
2006,1419,1419,1419,1419,1419,1419,1419,1419,1419,1419,1419,1419,1419,1419,1419,1419,1419,1419,1419,1419
2007,1411,1411,1411,1411,1411,1411,1411,1411,1411,1411,1411,1411,1411,1411,1411,1411,1411,1411,1411,1411
2008,1425,1425,1425,1425,1425,1425,1425,1425,1425,1425,1425,1425,1425,1425,1425,1425,1425,1425,1425,1425
2009,1424,1424,1424,1424,1424,1424,1424,1424,1424,1424,1424,1424,1424,1424,1424,1424,1424,1424,1424,1424
2010,1422,1422,1422,1422,1422,1422,1422,1422,1422,1422,1422,1422,1422,1422,1422,1422,1422,1422,1422,1422
2011,1104,1104,1104,1104,1104,1104,1104,1104,1104,1104,1104,1104,1104,1104,1104,1104,1104,1104,1104,1104
2012,1420,1420,1420,1420,1420,1420,1420,1420,1420,1420,1420,1420,1420,1420,1420,1420,1420,1420,1420,1420
2013,1427,1427,1427,1427,1427,1427,1427,1427,1427,1427,1427,1427,1427,1427,1427,1427,1427,1427,1427,1427
2014,1418,1418,1418,1418,1418,1418,1418,1418,1418,1418,1418,1418,1418,1418,1418,1418,1418,1418,1418,1418
2015,1416,1416,1416,1416,1416,1416,1416,1416,1416,1416,1416,1416,1416,1416,1416,1416,1416,1416,1416,1416
2016,1405,1405,1405,1405,1405,1405,1405,1405,1405,1405,1405,1405,1405,1405,1405,1405,1405,1405,1405,1405
2017,1382,1382,1382,1382,1382,1382,1382,1382,1382,1382,1382,1382,1382,1382,1382,1382,1382,1382,1382,1382
2018,1378,1378,1378,1378,1378,1378,1378,1378,1378,1378,1378,1378,1378,1378,1378,1378,1378,1378,1378,1378
2019,1241,1241,1241,1241,1241,1241,1241,1241,1241,1241,1241,1241,1241,1241,1241,1241,1241,1241,1241,1241
2020,1264,1264,1264,1264,1264,1264,1264,1264,1264,1264,1264,1264,1264,1264,1264,1264,1264,1264,1264,1264
2021,289,289,289,289,289,289,289,289,289,289,289,289,289,289,289,289,289,289,289,289

In [18]:
# Al agruparlo por temporada hemos visto que la mayoria de temporada tiene entre 1100 y 1400 partidos ->
# sacar temporada con menos partidos y con mas partidos


# acordandome ahora ese minimo de 2011 de 1104 partidos, que es de muchos menos partidos que el resto de temporadas
# ocurrio por el lockout que hizo que los jugadores fueran a la huelga, por lo tanto por ahora
# consideraremos esa temporada como una mas salvo porque se jugaron menos partidos

# pero tambn vemos que la temporada 2021 solo se jugaron 289 partidos, por el covid claro, por lo tanto
# no la tendremos en cuenta

# continuando, los partidos afectados son de la temporada 2003, son 99 partidos, eso supone
# 99/1385 = 0.07148014440433213 -> 7,1% de los partidos, siendo esto asi y no teniendo absolutamente ningun dato
# de las filas afectadas, he decidido eliminar dichas filas del dataframe y no trabajar con ellas

In [19]:
# Eliminamos las filas conflictivas del dataframe y lo correspondiente a 2021
# las filas confllictivas podemos eliminarlas directamente con dropna(), 
# porque ya hemos comprobado antes a donde pertenecian los nan del dataframe
df_nba_games_without_nan = df_nba_games_only_numerics.dropna()

In [20]:
# Comprobamos
len(df_nba_games) - len(df_nba_games_without_nan)

99

In [21]:
# Perfecto!, justo los 99 partidos que no queremos, ahora vamos a por la temporada 2021
df_nba_clean = df_nba_games_without_nan[df_nba_games_without_nan['SEASON'] != 2021]
df_nba_clean

,index,GAME_DATE_EST,GAME_ID,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
289,289,2021-07-20,42000406,1610612749,1610612756,2020,1610612749,105.0,0.451,0.862,...,20.0,53.0,1610612756,98.0,0.442,0.842,0.240,14.0,37.0,1
290,290,2021-07-17,42000405,1610612756,1610612749,2020,1610612756,119.0,0.552,0.909,...,23.0,35.0,1610612749,123.0,0.575,0.529,0.500,26.0,37.0,0
291,291,2021-07-14,42000404,1610612749,1610612756,2020,1610612749,109.0,0.402,0.828,...,22.0,48.0,1610612756,103.0,0.513,0.842,0.304,18.0,40.0,1
292,292,2021-07-11,42000403,1610612749,1610612756,2020,1610612749,120.0,0.478,0.769,...,28.0,47.0,1610612756,100.0,0.482,0.688,0.290,21.0,36.0,1
293,293,2021-07-08,42000402,1610612756,1610612749,2020,1610612756,118.0,0.489,0.857,...,26.0,43.0,1610612749,108.0,0.452,0.652,0.290,21.0,46.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25019,25019,2014-10-06,11400007,1610612737,1610612740,2014,1610612737,93.0,0.419,0.821,...,24.0,50.0,1610612740,87.0,0.366,0.643,0.375,17.0,43.0,1
25020,25020,2014-10-06,11400004,1610612741,1610612764,2014,1610612741,81.0,0.338,0.719,...,18.0,40.0,1610612764,85.0,0.411,0.636,0.267,17.0,47.0,0
25021,25021,2014-10-06,11400005,1610612747,1610612743,2014,1610612747,98.0,0.448,0.682,...,29.0,45.0,1610612743,95.0,0.387,0.659,0.500,19.0,43.0,1
25022,25022,2014-10-05,11400002,1610612761,1610612758,2014,1610612761,99.0,0.440,0.771,...,21.0,30.0,1610612758,94.0,0.469,0.725,0.385,18.0,45.0,1
25023,25023,2014-10-04,11400001,1610612748,1610612740,2014,1610612748,86.0,0.431,0.679,...,18.0,42.0,1610612740,98.0,0.462,0.706,0.438,19.0,42.0,0

In [22]:
# Comprobamos
len(df_nba_games[df_nba_games['SEASON'] == 2021]) == len(df_nba_games_without_nan) - len(df_nba_clean)

True

In [23]:
# YA TENEMOS EL DATAFRAME LIMPIO COMO QUEREMOS
# Pero queremos centrarnos en la temporada regular que deberian ser 82 partidos por temporada para cada equipo
# si hay mas partidos quiere decir que son de playoffs o de pretemporada, y esos no los queremos incluir

In [24]:
df_nba_games.dtypes

GAME_DATE_EST       datetime64[ns]
GAME_ID                      int64
GAME_STATUS_TEXT            object
HOME_TEAM_ID                 int64
VISITOR_TEAM_ID              int64
SEASON                       int64
TEAM_ID_home                 int64
PTS_home                   float64
FG_PCT_home                float64
FT_PCT_home                float64
FG3_PCT_home               float64
AST_home                   float64
REB_home                   float64
TEAM_ID_away                 int64
PTS_away                   float64
FG_PCT_away                float64
FT_PCT_away                float64
FG3_PCT_away               float64
AST_away                   float64
REB_away                   float64
HOME_TEAM_WINS               int64
dtype: object

In [25]:
df_nba_clean.dtypes

index                       int64
GAME_DATE_EST      datetime64[ns]
GAME_ID                     int64
HOME_TEAM_ID                int64
VISITOR_TEAM_ID             int64
SEASON                      int64
TEAM_ID_home                int64
PTS_home                  float64
FG_PCT_home               float64
FT_PCT_home               float64
FG3_PCT_home              float64
AST_home                  float64
REB_home                  float64
TEAM_ID_away                int64
PTS_away                  float64
FG_PCT_away               float64
FT_PCT_away               float64
FG3_PCT_away              float64
AST_away                  float64
REB_away                  float64
HOME_TEAM_WINS              int64
dtype: object

In [26]:
# DATAFRAME CON TODOS LOS PARTIDOS (REGULAR SEASON Y PLAYOFFS)
# df_nba_games -> TODO (REGULAR SEASON Y PLAYOFFS) y GAME_DATE_EST es datetime64[ns]
# df_nba_games_only_numerics = df_nba_games.select_dtypes(include=[np.number, np.datetime64]) -> NUMERICS Y DATES
# df_nba_games_without_nan = df_nba_games_only_numerics.dropna()-> NUMERICS, DATES Y NO NANS
# df_nba_clean -> NUMERICS, DATES Y NO NANS(CORRESPONDIENTES A 99PARTIDOS DE LA TEMPORADA 03/04) Y NO TEMPORADA 2021(COVID)

In [27]:
# Acontinuacion vamos a ir comprobando para cada temporada cuando empezo 
# y termino la regular season para poder quitar los partidos correspondientes a playofss y a pretemporada

In [28]:
# df_nba_games.loc['2003-10-28':'2004-14-14'], asi podria hacerlo pero tendria que declarar como index GAME_DATE_EST

In [29]:
# PATIDOS REGULAR SEASON 2003 -> Filtramos para la fecha de inicio y final de la temporada
# Todo lo demas son playoffs y pretemporada
df_2003 = df_nba_clean.loc[(df_nba_clean['GAME_DATE_EST'] >= pd.to_datetime('2003-10-28')) & (df_nba_clean['GAME_DATE_EST'] <= pd.to_datetime('2004-06-15'))]
df_2003

,index,GAME_DATE_EST,GAME_ID,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
16277,16277,2004-06-15,40300405,1610612765,1610612747,2003,1610612765,100.0,0.461,0.718,...,18.0,50.0,1610612747,87.0,0.413,0.636,0.250,18.0,36.0,1
16278,16278,2004-06-13,40300404,1610612765,1610612747,2003,1610612765,88.0,0.426,0.683,...,16.0,45.0,1610612747,80.0,0.423,0.500,0.188,23.0,38.0,1
16279,16279,2004-06-10,40300403,1610612765,1610612747,2003,1610612765,88.0,0.408,0.700,...,17.0,51.0,1610612747,68.0,0.365,0.615,0.222,19.0,39.0,1
16280,16280,2004-06-08,40300402,1610612747,1610612765,2003,1610612747,99.0,0.475,0.680,...,28.0,38.0,1610612765,91.0,0.395,0.677,0.500,19.0,46.0,1
16281,16281,2004-06-06,40300401,1610612747,1610612765,2003,1610612747,75.0,0.397,0.778,...,15.0,37.0,1610612765,87.0,0.462,0.700,0.500,19.0,36.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17543,17543,2003-10-29,20300006,1610612740,1610612737,2003,1610612740,88.0,0.324,0.700,...,24.0,55.0,1610612737,83.0,0.398,0.737,0.214,18.0,58.0,1
17544,17544,2003-10-29,20300012,1610612762,1610612757,2003,1610612762,99.0,0.575,0.714,...,25.0,29.0,1610612757,92.0,0.429,0.762,0.333,20.0,40.0,1
17545,17545,2003-10-28,20300001,1610612755,1610612748,2003,1610612755,89.0,0.440,0.533,...,25.0,39.0,1610612748,74.0,0.408,0.824,0.250,16.0,44.0,1
17546,17546,2003-10-28,20300002,1610612759,1610612756,2003,1610612759,83.0,0.425,0.769,...,20.0,38.0,1610612756,82.0,0.361,0.810,0.500,14.0,43.0,1
17547,17547,2003-10-28,20300003,1610612747,1610612742,2003,1610612747,109.0,0.506,0.600,...,32.0,46.0,1610612742,93.0,0.376,0.733,0.280,17.0,46.0,1

In [30]:
len(pd.unique(df_2003['GAME_ID']))

1271

In [31]:
df_rs_2003 = df_nba_clean.loc[(df_nba_clean['GAME_DATE_EST'] >= pd.to_datetime('2003-10-28')) & (df_nba_clean['GAME_DATE_EST'] <= pd.to_datetime('2004-04-14'))]
len(df_rs_2003)

1189

In [32]:
df_po_2003 = df_nba_clean.loc[(df_nba_clean['GAME_DATE_EST'] >= pd.to_datetime('2004-04-17')) & (df_nba_clean['GAME_DATE_EST'] <= pd.to_datetime('2004-06-15'))]
len(df_po_2003)

82

In [33]:
len(pd.unique(df_2003['GAME_ID'])) == len(df_rs_2003) + len(df_po_2003) == 1271  #PERFECTO!!!

True

In [34]:
# COMPORBAR PARA EL RESTO DE TEMPORADAS

In [35]:
# 2003/04
df_2003 = df_nba_clean.loc[(df_nba_clean['GAME_DATE_EST'] >= pd.to_datetime('2003-10-28')) & 
                           (df_nba_clean['GAME_DATE_EST'] <= pd.to_datetime('2004-06-15'))]
df_rs_2003 = df_nba_clean.loc[(df_nba_clean['GAME_DATE_EST'] >= pd.to_datetime('2003-10-28')) & 
                              (df_nba_clean['GAME_DATE_EST'] <= pd.to_datetime('2004-04-14'))]
df_po_2003 = df_nba_clean.loc[(df_nba_clean['GAME_DATE_EST'] >= pd.to_datetime('2004-04-17')) & 
                              (df_nba_clean['GAME_DATE_EST'] <= pd.to_datetime('2004-06-15'))]
len(pd.unique(df_2003['GAME_ID'])) == len(df_rs_2003) + len(df_po_2003) == 1271

True

In [36]:
# 2004/05
df_2004 = df_nba_clean.loc[(df_nba_clean['GAME_DATE_EST'] >= pd.to_datetime('2004-11-02')) & 
                           (df_nba_clean['GAME_DATE_EST'] <= pd.to_datetime('2005-06-23'))]
df_rs_2004 = df_nba_clean.loc[(df_nba_clean['GAME_DATE_EST'] >= pd.to_datetime('2004-11-02')) & 
                              (df_nba_clean['GAME_DATE_EST'] <= pd.to_datetime('2005-04-20'))]
df_po_2004 = df_nba_clean.loc[(df_nba_clean['GAME_DATE_EST'] >= pd.to_datetime('2005-04-23')) & 
                              (df_nba_clean['GAME_DATE_EST'] <= pd.to_datetime('2005-06-23'))]
len(pd.unique(df_2004['GAME_ID'])) == len(df_rs_2004) + len(df_po_2004) == 1314

True

In [37]:
# 2005/06
df_2005 = df_nba_clean.loc[(df_nba_clean['GAME_DATE_EST'] >= pd.to_datetime('2005-11-01')) & 
                           (df_nba_clean['GAME_DATE_EST'] <= pd.to_datetime('2006-06-20'))]
df_rs_2005 = df_nba_clean.loc[(df_nba_clean['GAME_DATE_EST'] >= pd.to_datetime('2005-11-01')) & 
                              (df_nba_clean['GAME_DATE_EST'] <= pd.to_datetime('2006-04-19'))]
df_po_2005 = df_nba_clean.loc[(df_nba_clean['GAME_DATE_EST'] >= pd.to_datetime('2006-04-22')) & 
                              (df_nba_clean['GAME_DATE_EST'] <= pd.to_datetime('2006-06-20'))]
len(pd.unique(df_2005['GAME_ID'])) == len(df_rs_2005) + len(df_po_2005) == 1319

True

In [38]:
# 2006/07
df_2006 = df_nba_clean.loc[(df_nba_clean['GAME_DATE_EST'] >= pd.to_datetime('2006-10-31')) & 
                           (df_nba_clean['GAME_DATE_EST'] <= pd.to_datetime('2007-06-14'))]
df_rs_2006 = df_nba_clean.loc[(df_nba_clean['GAME_DATE_EST'] >= pd.to_datetime('2006-10-31')) & 
                              (df_nba_clean['GAME_DATE_EST'] <= pd.to_datetime('2007-04-18'))]
df_po_2006 = df_nba_clean.loc[(df_nba_clean['GAME_DATE_EST'] >= pd.to_datetime('2007-04-21')) & 
                              (df_nba_clean['GAME_DATE_EST'] <= pd.to_datetime('2007-06-14'))]
len(pd.unique(df_2006['GAME_ID'])) == len(df_rs_2006) + len(df_po_2006) == 1309

True

In [39]:
# 2007/08
df_2007 = df_nba_clean.loc[(df_nba_clean['GAME_DATE_EST'] >= pd.to_datetime('2007-10-30')) & 
                           (df_nba_clean['GAME_DATE_EST'] <= pd.to_datetime('2008-06-17'))]
df_rs_2007 = df_nba_clean.loc[(df_nba_clean['GAME_DATE_EST'] >= pd.to_datetime('2007-10-30')) & 
                              (df_nba_clean['GAME_DATE_EST'] <= pd.to_datetime('2008-04-16'))]
df_po_2007 = df_nba_clean.loc[(df_nba_clean['GAME_DATE_EST'] >= pd.to_datetime('2008-04-19')) & 
                              (df_nba_clean['GAME_DATE_EST'] <= pd.to_datetime('2008-06-17'))]
len(pd.unique(df_2007['GAME_ID'])) == len(df_rs_2007) + len(df_po_2007) == 1316

True

In [40]:
# 2008/09
df_2008 = df_nba_clean.loc[(df_nba_clean['GAME_DATE_EST'] >= pd.to_datetime('2008-10-28')) & 
                           (df_nba_clean['GAME_DATE_EST'] <= pd.to_datetime('2009-06-14'))]
df_rs_2008 = df_nba_clean.loc[(df_nba_clean['GAME_DATE_EST'] >= pd.to_datetime('2008-10-28')) & 
                              (df_nba_clean['GAME_DATE_EST'] <= pd.to_datetime('2009-04-16'))]
df_po_2008 = df_nba_clean.loc[(df_nba_clean['GAME_DATE_EST'] >= pd.to_datetime('2009-04-18')) & 
                              (df_nba_clean['GAME_DATE_EST'] <= pd.to_datetime('2009-06-14'))]
len(pd.unique(df_2008['GAME_ID'])) == len(df_rs_2008) + len(df_po_2008) == 1315

True

In [41]:
# 2009/10
df_2009 = df_nba_clean.loc[(df_nba_clean['GAME_DATE_EST'] >= pd.to_datetime('2009-10-27')) & 
                           (df_nba_clean['GAME_DATE_EST'] <= pd.to_datetime('2010-06-17'))]
df_rs_2009 = df_nba_clean.loc[(df_nba_clean['GAME_DATE_EST'] >= pd.to_datetime('2009-10-27')) & 
                              (df_nba_clean['GAME_DATE_EST'] <= pd.to_datetime('2010-04-14'))]
df_po_2009 = df_nba_clean.loc[(df_nba_clean['GAME_DATE_EST'] >= pd.to_datetime('2010-04-17')) & 
                              (df_nba_clean['GAME_DATE_EST'] <= pd.to_datetime('2010-06-17'))]
len(pd.unique(df_2009['GAME_ID'])) == len(df_rs_2009) + len(df_po_2009) == 1312

True

In [42]:
# 2010/11
df_2010 = df_nba_clean.loc[(df_nba_clean['GAME_DATE_EST'] >= pd.to_datetime('2010-10-26')) & 
                           (df_nba_clean['GAME_DATE_EST'] <= pd.to_datetime('2011-06-12'))]
df_rs_2010 = df_nba_clean.loc[(df_nba_clean['GAME_DATE_EST'] >= pd.to_datetime('2010-10-26')) & 
                              (df_nba_clean['GAME_DATE_EST'] <= pd.to_datetime('2011-04-13'))]
df_po_2010 = df_nba_clean.loc[(df_nba_clean['GAME_DATE_EST'] >= pd.to_datetime('2011-04-16')) & 
                              (df_nba_clean['GAME_DATE_EST'] <= pd.to_datetime('2011-06-12'))]
len(pd.unique(df_2010['GAME_ID'])) == len(df_rs_2010) + len(df_po_2010) == 1311

True

In [43]:
# 2011/12
df_2011 = df_nba_clean.loc[(df_nba_clean['GAME_DATE_EST'] >= pd.to_datetime('2011-12-25')) & 
                           (df_nba_clean['GAME_DATE_EST'] <= pd.to_datetime('2012-06-21'))]
df_rs_2011 = df_nba_clean.loc[(df_nba_clean['GAME_DATE_EST'] >= pd.to_datetime('2011-12-25')) & 
                              (df_nba_clean['GAME_DATE_EST'] <= pd.to_datetime('2012-04-26'))]
df_po_2011 = df_nba_clean.loc[(df_nba_clean['GAME_DATE_EST'] >= pd.to_datetime('2012-04-28')) & 
                              (df_nba_clean['GAME_DATE_EST'] <= pd.to_datetime('2012-06-21'))]
len(pd.unique(df_2011['GAME_ID'])) == len(df_rs_2011) + len(df_po_2011) == 1074

True

In [44]:
# 2012/13
df_2012 = df_nba_clean.loc[(df_nba_clean['GAME_DATE_EST'] >= pd.to_datetime('2012-10-30')) & 
                           (df_nba_clean['GAME_DATE_EST'] <= pd.to_datetime('2013-06-20'))]
df_rs_2012 = df_nba_clean.loc[(df_nba_clean['GAME_DATE_EST'] >= pd.to_datetime('2012-10-30')) & 
                              (df_nba_clean['GAME_DATE_EST'] <= pd.to_datetime('2013-04-17'))]
df_po_2012 = df_nba_clean.loc[(df_nba_clean['GAME_DATE_EST'] >= pd.to_datetime('2013-04-20')) & 
                              (df_nba_clean['GAME_DATE_EST'] <= pd.to_datetime('2013-06-20'))]
len(pd.unique(df_2012['GAME_ID'])) == len(df_rs_2012) + len(df_po_2012) == 1314

True

In [45]:
# 2013/14
df_2013 = df_nba_clean.loc[(df_nba_clean['GAME_DATE_EST'] >= pd.to_datetime('2013-10-29')) & 
                           (df_nba_clean['GAME_DATE_EST'] <= pd.to_datetime('2014-06-15'))]
df_rs_2013 = df_nba_clean.loc[(df_nba_clean['GAME_DATE_EST'] >= pd.to_datetime('2013-10-29')) & 
                              (df_nba_clean['GAME_DATE_EST'] <= pd.to_datetime('2014-04-16'))]
df_po_2013 = df_nba_clean.loc[(df_nba_clean['GAME_DATE_EST'] >= pd.to_datetime('2014-04-19')) & 
                              (df_nba_clean['GAME_DATE_EST'] <= pd.to_datetime('2014-06-15'))]
len(pd.unique(df_2013['GAME_ID'])) == len(df_rs_2013) + len(df_po_2013) == 1319

True

In [46]:
# 2014/15
df_2014 = df_nba_clean.loc[(df_nba_clean['GAME_DATE_EST'] >= pd.to_datetime('2014-10-28')) & 
                           (df_nba_clean['GAME_DATE_EST'] <= pd.to_datetime('2015-06-16'))]
df_rs_2014 = df_nba_clean.loc[(df_nba_clean['GAME_DATE_EST'] >= pd.to_datetime('2014-10-28')) & 
                              (df_nba_clean['GAME_DATE_EST'] <= pd.to_datetime('2015-04-15'))]
df_po_2014 = df_nba_clean.loc[(df_nba_clean['GAME_DATE_EST'] >= pd.to_datetime('2015-04-18')) & 
                              (df_nba_clean['GAME_DATE_EST'] <= pd.to_datetime('2015-06-16'))]
len(pd.unique(df_2014['GAME_ID'])) == len(df_rs_2014) + len(df_po_2014) == 1311

True

In [47]:
# 2015/16
df_2015 = df_nba_clean.loc[(df_nba_clean['GAME_DATE_EST'] >= pd.to_datetime('2015-10-27')) & 
                           (df_nba_clean['GAME_DATE_EST'] <= pd.to_datetime('2016-06-19'))]
df_rs_2015 = df_nba_clean.loc[(df_nba_clean['GAME_DATE_EST'] >= pd.to_datetime('2015-10-27')) & 
                              (df_nba_clean['GAME_DATE_EST'] <= pd.to_datetime('2016-04-13'))]
df_po_2015 = df_nba_clean.loc[(df_nba_clean['GAME_DATE_EST'] >= pd.to_datetime('2016-04-16')) & 
                              (df_nba_clean['GAME_DATE_EST'] <= pd.to_datetime('2016-06-19'))]
len(pd.unique(df_2015['GAME_ID'])) == len(df_rs_2015) + len(df_po_2015) == 1316

True

In [48]:
# 2016/17
df_2016 = df_nba_clean.loc[(df_nba_clean['GAME_DATE_EST'] >= pd.to_datetime('2016-10-25')) & 
                           (df_nba_clean['GAME_DATE_EST'] <= pd.to_datetime('2017-06-12'))]
df_rs_2016 = df_nba_clean.loc[(df_nba_clean['GAME_DATE_EST'] >= pd.to_datetime('2016-10-25')) & 
                              (df_nba_clean['GAME_DATE_EST'] <= pd.to_datetime('2017-04-12'))]
df_po_2016 = df_nba_clean.loc[(df_nba_clean['GAME_DATE_EST'] >= pd.to_datetime('2017-04-15')) & 
                              (df_nba_clean['GAME_DATE_EST'] <= pd.to_datetime('2017-06-12'))]
len(pd.unique(df_2016['GAME_ID'])) == len(df_rs_2016) + len(df_po_2016) == 1309

True

In [49]:
# 2017/18
df_2017 = df_nba_clean.loc[(df_nba_clean['GAME_DATE_EST'] >= pd.to_datetime('2017-10-17')) & 
                           (df_nba_clean['GAME_DATE_EST'] <= pd.to_datetime('2018-06-08'))]
df_rs_2017 = df_nba_clean.loc[(df_nba_clean['GAME_DATE_EST'] >= pd.to_datetime('2017-10-17')) & 
                              (df_nba_clean['GAME_DATE_EST'] <= pd.to_datetime('2018-04-11'))]
df_po_2017 = df_nba_clean.loc[(df_nba_clean['GAME_DATE_EST'] >= pd.to_datetime('2018-04-14')) & 
                              (df_nba_clean['GAME_DATE_EST'] <= pd.to_datetime('2018-06-08'))]
len(pd.unique(df_2017['GAME_ID'])) == len(df_rs_2017) + len(df_po_2017) == 1312

True

In [50]:
# 2018/19
df_2018 = df_nba_clean.loc[(df_nba_clean['GAME_DATE_EST'] >= pd.to_datetime('2018-10-16')) & 
                           (df_nba_clean['GAME_DATE_EST'] <= pd.to_datetime('2019-06-13'))]
df_rs_2018 = df_nba_clean.loc[(df_nba_clean['GAME_DATE_EST'] >= pd.to_datetime('2018-10-16')) & 
                              (df_nba_clean['GAME_DATE_EST'] <= pd.to_datetime('2019-04-10'))]
df_po_2018 = df_nba_clean.loc[(df_nba_clean['GAME_DATE_EST'] >= pd.to_datetime('2019-04-13')) & 
                              (df_nba_clean['GAME_DATE_EST'] <= pd.to_datetime('2019-06-13'))]
len(pd.unique(df_2018['GAME_ID'])) == len(df_rs_2018) + len(df_po_2018) == 1312

True

In [51]:
# YA HEMOS COMPROBADO PARA TODAS LAS SEASON QUE EL NUMERO DE REGISTROS ES CORRECTO,
# ES DECIR TENEMOS TODOS LOS PARTIDOS DE TEMPORADA REGULAR Y PLAYOFFS PARA CADA AÑO
# AHORA NOS QUEDA JUNTARLOS EN UN SOLO DATAFRAME, UNO PARA LA TEMPORADA REGULAR Y OTRO PARA PLAYOFFS

df_rs_list = [df_rs_2003, df_rs_2004, df_rs_2005, df_rs_2006, df_rs_2007, df_rs_2008, df_rs_2009, df_rs_2010
                 , df_rs_2011, df_rs_2012, df_rs_2013, df_rs_2014, df_rs_2015, df_rs_2016, df_rs_2017, df_rs_2018]

df_all_rs = pd.concat(df_rs_list)

df_po_list = [df_po_2003, df_po_2004, df_po_2005, df_po_2006, df_po_2007, df_po_2008, df_po_2009, df_po_2010
                 , df_po_2011, df_po_2012, df_po_2013, df_po_2014, df_po_2015, df_po_2016, df_po_2017, df_po_2018]

df_all_po = pd.concat(df_po_list)

In [52]:
df_all_rs

,index,GAME_DATE_EST,GAME_ID,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
16359,16359,2004-04-14,20301188,1610612746,1610612760,2003,1610612746,87.0,0.423,0.727,...,17.0,37.0,1610612760,118.0,0.542,1.000,0.375,32.0,34.0,0
16360,16360,2004-04-14,20301184,1610612759,1610612743,2003,1610612759,93.0,0.424,0.679,...,15.0,58.0,1610612743,67.0,0.325,0.611,0.222,11.0,47.0,1
16361,16361,2004-04-14,20301181,1610612754,1610612741,2003,1610612754,101.0,0.420,0.794,...,24.0,58.0,1610612741,96.0,0.420,0.667,0.357,20.0,41.0,1
16362,16362,2004-04-14,20301177,1610612764,1610612740,2003,1610612764,78.0,0.375,0.714,...,13.0,39.0,1610612740,94.0,0.451,0.600,0.364,24.0,48.0,0
16363,16363,2004-04-14,20301179,1610612752,1610612739,2003,1610612752,90.0,0.481,0.714,...,13.0,42.0,1610612739,100.0,0.488,0.900,0.364,22.0,40.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19332,19332,2018-10-17,21800011,1610612758,1610612762,2018,1610612758,117.0,0.516,0.667,...,17.0,37.0,1610612762,123.0,0.519,0.737,0.481,21.0,44.0,0
19333,19333,2018-10-17,21800012,1610612746,1610612743,2018,1610612746,98.0,0.398,0.833,...,21.0,47.0,1610612743,107.0,0.379,0.786,0.333,20.0,56.0,0
19334,19334,2018-10-17,21800013,1610612756,1610612742,2018,1610612756,121.0,0.543,0.875,...,35.0,44.0,1610612742,100.0,0.432,0.700,0.303,28.0,38.0,1
19335,19335,2018-10-16,21800001,1610612738,1610612755,2018,1610612738,105.0,0.433,0.714,...,21.0,55.0,1610612755,87.0,0.391,0.609,0.192,18.0,47.0,1
19336,19336,2018-10-16,21800002,1610612744,1610612760,2018,1610612744,108.0,0.442,0.944,...,28.0,58.0,1610612760,100.0,0.363,0.649,0.270,21.0,45.0,1

In [62]:
#df_all_rs.drop(['level_0'], axis=1, inplace=True)
#df_all_rs.drop(['index'], axis=1, inplace=True)
df_all_rs.reset_index(level=0, inplace=True)

In [63]:
df_all_rs

,index,GAME_DATE_EST,GAME_ID,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,0,2004-04-14,20301188,1610612746,1610612760,2003,1610612746,87.0,0.423,0.727,...,17.0,37.0,1610612760,118.0,0.542,1.000,0.375,32.0,34.0,0
1,1,2004-04-14,20301184,1610612759,1610612743,2003,1610612759,93.0,0.424,0.679,...,15.0,58.0,1610612743,67.0,0.325,0.611,0.222,11.0,47.0,1
2,2,2004-04-14,20301181,1610612754,1610612741,2003,1610612754,101.0,0.420,0.794,...,24.0,58.0,1610612741,96.0,0.420,0.667,0.357,20.0,41.0,1
3,3,2004-04-14,20301177,1610612764,1610612740,2003,1610612764,78.0,0.375,0.714,...,13.0,39.0,1610612740,94.0,0.451,0.600,0.364,24.0,48.0,0
4,4,2004-04-14,20301179,1610612752,1610612739,2003,1610612752,90.0,0.481,0.714,...,13.0,42.0,1610612739,100.0,0.488,0.900,0.364,22.0,40.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19393,19393,2018-10-17,21800011,1610612758,1610612762,2018,1610612758,117.0,0.516,0.667,...,17.0,37.0,1610612762,123.0,0.519,0.737,0.481,21.0,44.0,0
19394,19394,2018-10-17,21800012,1610612746,1610612743,2018,1610612746,98.0,0.398,0.833,...,21.0,47.0,1610612743,107.0,0.379,0.786,0.333,20.0,56.0,0
19395,19395,2018-10-17,21800013,1610612756,1610612742,2018,1610612756,121.0,0.543,0.875,...,35.0,44.0,1610612742,100.0,0.432,0.700,0.303,28.0,38.0,1
19396,19396,2018-10-16,21800001,1610612738,1610612755,2018,1610612738,105.0,0.433,0.714,...,21.0,55.0,1610612755,87.0,0.391,0.609,0.192,18.0,47.0,1
19397,19397,2018-10-16,21800002,1610612744,1610612760,2018,1610612744,108.0,0.442,0.944,...,28.0,58.0,1610612760,100.0,0.363,0.649,0.270,21.0,45.0,1

In [64]:
# DATAFRAME DEFINITIVO CON EL QUE TRABAJAR -> df_all_rs
df_all_rs.to_csv('df_all_rs.csv')

In [ ]:
# Construir dataframe con la cantidad de partidos de rs y po para cada season, 
# para usarlo para comprobar que he limpiado bien. Lo voy a hacer mientras manualmente 
# (porque tengo los datos apuntados), pero mejor si lo automatizo, lo dejo asi por ahora para no entretenerme con eso
# pero mas adelante hacerlo