In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.decomposition import PCA
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.neural_network import MLPRegressor
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, recall_score, precision_score, f1_score, roc_auc_score, roc_curve

In [2]:
pd.options.display.max_columns
df = pd.read_csv('df_all_rs.csv')
df = df.drop('Unnamed: 0', axis=1)
df = df.drop('index', axis=1)
df

,GAME_DATE_EST,GAME_ID,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,2004-04-14,20301188,1610612746,1610612760,2003,1610612746,87.0,0.423,0.727,0.214,17.0,37.0,1610612760,118.0,0.542,1.000,0.375,32.0,34.0,0
1,2004-04-14,20301184,1610612759,1610612743,2003,1610612759,93.0,0.424,0.679,0.100,15.0,58.0,1610612743,67.0,0.325,0.611,0.222,11.0,47.0,1
2,2004-04-14,20301181,1610612754,1610612741,2003,1610612754,101.0,0.420,0.794,0.316,24.0,58.0,1610612741,96.0,0.420,0.667,0.357,20.0,41.0,1
3,2004-04-14,20301177,1610612764,1610612740,2003,1610612764,78.0,0.375,0.714,0.211,13.0,39.0,1610612740,94.0,0.451,0.600,0.364,24.0,48.0,0
4,2004-04-14,20301179,1610612752,1610612739,2003,1610612752,90.0,0.481,0.714,0.400,13.0,42.0,1610612739,100.0,0.488,0.900,0.364,22.0,40.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19393,2018-10-17,21800011,1610612758,1610612762,2018,1610612758,117.0,0.516,0.667,0.368,17.0,37.0,1610612762,123.0,0.519,0.737,0.481,21.0,44.0,0
19394,2018-10-17,21800012,1610612746,1610612743,2018,1610612746,98.0,0.398,0.833,0.286,21.0,47.0,1610612743,107.0,0.379,0.786,0.333,20.0,56.0,0
19395,2018-10-17,21800013,1610612756,1610612742,2018,1610612756,121.0,0.543,0.875,0.559,35.0,44.0,1610612742,100.0,0.432,0.700,0.303,28.0,38.0,1
19396,2018-10-16,21800001,1610612738,1610612755,2018,1610612738,105.0,0.433,0.714,0.297,21.0,55.0,1610612755,87.0,0.391,0.609,0.192,18.0,47.0,1
19397,2018-10-16,21800002,1610612744,1610612760,2018,1610612744,108.0,0.442,0.944,0.269,28.0,58.0,1610612760,100.0,0.363,0.649,0.270,21.0,45.0,1

In [3]:
rs_2003 = ('2003-10-28', '2004-04-14')
rs_2004 = ('2004-11-02', '2005-04-20')
rs_2005 = ('2005-11-01', '2006-04-19')
rs_2006 = ('2006-10-31', '2007-04-18')
rs_2007 = ('2007-10-30', '2008-04-16')    
rs_2008 = ('2008-10-28', '2009-04-16')
rs_2009 = ('2009-10-27', '2010-04-14')
rs_2010 = ('2010-10-26', '2011-04-13')
rs_2011 = ('2011-12-25', '2012-04-26')
rs_2012 = ('2012-10-30', '2013-04-17')
rs_2013 = ('2013-10-29', '2014-04-16')
rs_2014 = ('2014-10-28', '2015-04-15')
rs_2015 = ('2015-10-27', '2016-04-13')
rs_2016 = ('2016-10-25', '2017-04-12')
rs_2017 = ('2017-10-17', '2018-04-11')
rs_2018 = ('2018-10-16', '2019-04-10')

In [4]:
df

,GAME_DATE_EST,GAME_ID,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,2004-04-14,20301188,1610612746,1610612760,2003,1610612746,87.0,0.423,0.727,0.214,17.0,37.0,1610612760,118.0,0.542,1.000,0.375,32.0,34.0,0
1,2004-04-14,20301184,1610612759,1610612743,2003,1610612759,93.0,0.424,0.679,0.100,15.0,58.0,1610612743,67.0,0.325,0.611,0.222,11.0,47.0,1
2,2004-04-14,20301181,1610612754,1610612741,2003,1610612754,101.0,0.420,0.794,0.316,24.0,58.0,1610612741,96.0,0.420,0.667,0.357,20.0,41.0,1
3,2004-04-14,20301177,1610612764,1610612740,2003,1610612764,78.0,0.375,0.714,0.211,13.0,39.0,1610612740,94.0,0.451,0.600,0.364,24.0,48.0,0
4,2004-04-14,20301179,1610612752,1610612739,2003,1610612752,90.0,0.481,0.714,0.400,13.0,42.0,1610612739,100.0,0.488,0.900,0.364,22.0,40.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19393,2018-10-17,21800011,1610612758,1610612762,2018,1610612758,117.0,0.516,0.667,0.368,17.0,37.0,1610612762,123.0,0.519,0.737,0.481,21.0,44.0,0
19394,2018-10-17,21800012,1610612746,1610612743,2018,1610612746,98.0,0.398,0.833,0.286,21.0,47.0,1610612743,107.0,0.379,0.786,0.333,20.0,56.0,0
19395,2018-10-17,21800013,1610612756,1610612742,2018,1610612756,121.0,0.543,0.875,0.559,35.0,44.0,1610612742,100.0,0.432,0.700,0.303,28.0,38.0,1
19396,2018-10-16,21800001,1610612738,1610612755,2018,1610612738,105.0,0.433,0.714,0.297,21.0,55.0,1610612755,87.0,0.391,0.609,0.192,18.0,47.0,1
19397,2018-10-16,21800002,1610612744,1610612760,2018,1610612744,108.0,0.442,0.944,0.269,28.0,58.0,1610612760,100.0,0.363,0.649,0.270,21.0,45.0,1

In [5]:
df.sort_values(by="GAME_DATE_EST")

,GAME_DATE_EST,GAME_ID,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
1188,2003-10-28,20300003,1610612747,1610612742,2003,1610612747,109.0,0.506,0.600,0.350,32.0,46.0,1610612742,93.0,0.376,0.733,0.280,17.0,46.0,1
1187,2003-10-28,20300002,1610612759,1610612756,2003,1610612759,83.0,0.425,0.769,0.100,20.0,38.0,1610612756,82.0,0.361,0.810,0.500,14.0,43.0,1
1186,2003-10-28,20300001,1610612755,1610612748,2003,1610612755,89.0,0.440,0.533,0.350,25.0,39.0,1610612748,74.0,0.408,0.824,0.250,16.0,44.0,1
1185,2003-10-29,20300012,1610612762,1610612757,2003,1610612762,99.0,0.575,0.714,0.556,25.0,29.0,1610612757,92.0,0.429,0.762,0.333,20.0,40.0,1
1184,2003-10-29,20300006,1610612740,1610612737,2003,1610612740,88.0,0.324,0.700,0.160,24.0,55.0,1610612737,83.0,0.398,0.737,0.214,18.0,58.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18173,2019-04-10,21801225,1610612763,1610612744,2018,1610612763,132.0,0.490,0.833,0.457,25.0,49.0,1610612744,117.0,0.500,0.857,0.433,32.0,39.0,1
18172,2019-04-10,21801224,1610612755,1610612741,2018,1610612755,125.0,0.559,0.600,0.462,30.0,47.0,1610612741,109.0,0.474,0.667,0.375,21.0,39.0,1
18171,2019-04-10,21801223,1610612752,1610612765,2018,1610612752,89.0,0.403,0.720,0.300,23.0,33.0,1610612765,115.0,0.482,0.950,0.424,25.0,56.0,0
18170,2019-04-10,21801222,1610612766,1610612753,2018,1610612766,114.0,0.526,0.889,0.276,21.0,32.0,1610612753,122.0,0.545,0.750,0.367,24.0,39.0,0
18169,2019-04-10,21801221,1610612751,1610612748,2018,1610612751,113.0,0.377,0.857,0.362,29.0,68.0,1610612748,94.0,0.388,0.667,0.195,22.0,54.0,1

In [6]:
df.to_excel('df_excel.xlsx')

In [ ]:
def last_five_games(game_id, game_date_est):
    return df[game_date_est]

In [ ]:
target = df['HOME_TEAM_WINS']
data = df[['FG_PCT_home', 'FG_PCT_away', 'FG3_PCT_home', 'FG3_PCT_away']]
data_copy = data.copy()
normalized_data = (data_copy - data_copy.mean()) / data_copy.std()